a {
  text-decoration: none;
}
.postsDiv {
  display: flex;
  justify-self: center;
  border-top: 2px solid #bf4aa8;
  gap: 3rem;
  flex-wrap: wrap;
  border-radius: 30px;
  margin: 30px;
  padding: 30px;
  width: 70%;
  justify-content: space-evenly;
}
.postDiv {
  width: 350px;
  color: #51d0de;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 10px #bf4aa8;
  margin-bottom: 2rem;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.postDiv:hover {
  box-shadow: 0 0 20px #bf4aa8;
}
.postDiv img {
  display: block;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #bf4aa8;
  width: 350px;
  height: 200px;
}
.postDiv h3 {
  font-size: 2rem;
  padding: 0 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.postText {
  font-family: "Roboto";
  font-size: 1.2rem;
  max-width: 330px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 0;
  margin-left: 10px;
  padding: 0 10px;
}
.postHeader {
  display: flex;
  justify-content: space-between;
}
.infoAboufPost {
  display: flex;
}
.postMessageDiv,
.postTimeDiv {
  display: flex;
  align-items: center;
}
.postMessageDiv p,
.postTimeDiv p {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}
.welcomeDiv {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
}
.articlesHeader {
  font-family: "Roboto";
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #51d0de;
  text-align: center;
  margin: 5rem;
}
.brain {
  border-radius: 30px;
  width: 160px;
  margin-top: 5rem;
  float: left;
}
.loading {
  color: #bf4aa8;
  margin: auto;
  margin-top: 3rem;
  animation: loading 1.3s infinite;
}

@keyframes loading {
  0% {
    transform: 0;
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes appearText {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
