.mainLogIn {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  margin-top: 50px;
  margin-bottom: 50px;
}
.mainLogIn form {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainLogIn h2 {
  letter-spacing: 1px;
  color: #bf4aa8;
}

.mainLogIn label {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.mainLogIn input {
  font-size: 1.3rem;
  margin-bottom: 15px;
  padding: 5px;
}
.mainLogIn ul {
  padding-left: 20px;
}
.mainLogIn li {
  color: red;
  text-align: center;
  font-size: 1.2rem;
}
.mainLogIn button {
  background-color: #bf4aa8;
  color: #51d0de;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px 15px;
  letter-spacing: 1px;
  border: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;
}
.mainLogIn button:hover {
  background-color: #51d0de;
  color: #e000b3;
}

.brain {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  height: auto;
  background-size: cover;
}

.textBeforeBrain {
  position: fixed;
  color: #51d0de;
  right: 4%;
  bottom: 28%;
  font-size: 1.7rem;
  animation: appearText 0.3s both;
  animation-delay: 0.9s;
}
.infoAuth {
  text-align: center;
  margin-top: 10rem;
  color: #b40090;
  font-size: 2rem;
}

@keyframes appearText {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
